@import "../../assets/styles/mixins";

.navbar {
    position: relative;
    width: 100vw;
    height: 70px;
    padding: 13px 1vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--color-146);
    color: var(--color-147);

    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;

    &__ham-menu {
        display: none;
    }
}

.logo {
    width: 75px;
    height: auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
    &__link {
        @include link-hover-focus(var(--color-147));

        color: var(--color-147);
        gap: 10px;
        padding: 4px;
        cursor: pointer;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }

        &:nth-last-child(-n + 3) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            position: relative;
        }
    }

    &__link-icon {
        min-width: 18px;
        min-height: 18px;
        width: 18px;
        height: 18px;
    }
}
.menu__link_bold {
    font-weight: 600;
    line-height: 30px;
}
.menu__link_phone {
    padding: 13px 20px;
    border: 1px solid var(--color-149);
}

.menu__link_selection {
    color: var(--color-145);

    &:hover {
        @include link-hover-focus(var(--color-145));
        opacity: 1;
    }
}

.ham-menu {
    cursor: pointer;
    margin-right: 10px;
    &__input {
        display: none;
    }
    &__icon-menu {
        position: relative;
        display: block;
        width: 30px;
        height: 45px;
    }
    &__span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 3px;
        width: 100%;

        background-color: var(--color-145);
        border-radius: 5px;

        transition: 0.2s ease-in-out;

        &:nth-child(1) {
            top: 25%;
        }

        &:nth-child(3) {
            top: 75%;
        }
    }
}

.ham-menu__input:checked ~ .ham-menu__icon-menu {
    .ham-menu__span {
        height: 5px;
        width: 75%;
    }
    .ham-menu__span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-135deg);
    }
    .ham-menu__span:nth-child(2) {
        opacity: 0;
    }
    .ham-menu__span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
    }
}

@media (max-width: 1100px) and (min-width: 769px) {
    .navbar {
        font-size: 14px;

        &__menu {
            gap: 1vw;
            &:nth-child(3) {
                gap: 5px;
                flex-direction: column;
                align-items: start;
            }
        }
    }
    .menu__link {
        font-size: inherit;
        text-align: left;
        gap: 10px;
        padding: 0;
    }

    .menu__link_phone {
        padding: 0;
        border: none;
    }
}

@media (max-width: 850px) {
    .navbar {
        font-size: 12px;
    }
}

@media (max-width: 769px) {

    .navbar {
        z-index: 1000;
        &__ham-menu {
            position: absolute;
            top: 13px;
            right: 1vw;
            display: block;
        }
        &__menu {
            display: none;
        }
        &.navbar-active {
            position: absolute;
            inset: 0;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .navbar {
                &__logo {
                    position: absolute;
                    top: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    width: 100%;

                    &:nth-child(2)::after {
                        margin-bottom: 20px;
                        content: "";
                        width: 90%;
                        height: 2px;
                        background-color: var(--color-144);
                    }
                }
            }
            .menu__link {
                font-size: 16px;
            }
            .menu__link_phone,
            .menu__link_email {
                font-size: 14px;
            }
        }
    }
}
