@mixin link-hover-focus($color) {
    p::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color;
        transform: scaleX(0) scaleY(0);
        transition: all 0.2s ease-in-out;
    }
    @media (hover: hover) {
        &:hover p::after {
            transform: scaleX(1) scaleY(1);
        }
    }
}
