:root {
    --color-149: hsla(0, 0%, 55%, 1);
    --color-148: hsla(212, 24%, 32%, 1);
    --color-147: hsla(0, 0%, 94%, 1);
    --color-146: hsla(248, 83%, 12%, 1);
    --color-145: hsla(42, 100%, 65%, 1);
    --color-144: hsla(0, 0%, 33%, 1);
}
